@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@300;400&display=swap');

a{
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}
a:hover{
    color: rgb(134, 44, 218);
    text-decoration: underline;
    
}

body{
    background-color: rgb(40, 8, 43);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.rem;
}
.header-li{
    list-style: none;
}
.container{
    border: 2px black solid;
    border-radius: 1.5rem;
    margin: 5px;
    padding: 10px;
    
    
    background-color: rgb(211, 215, 218);
    display: flex;
    flex-direction: column;
    
}
header{
    display: flex;
    justify-content: space-between;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.graph{
    border: 1px rgb(245, 241, 241) solid;
    width: 700px;
    height: 500px;
    background-color: rgb(143, 143, 146);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.numero{
    background-color: rgb(88, 32, 22);
    width: 10px; 
       
}

footer{
    margin-top: 70px;
    text-align: center;
    
}
button{
    color: white;
    background-color: rgb(67, 14, 71);
    height: 2.5rem;
    border-radius: 15px;
}
button:hover{
    background-color: rgb(134, 44, 218);

}
.explica{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    grid-auto-columns: 1fr;
    align-items: center;
    text-align: justify;

}
hr {
    margin: 1.5rem 0;
    border: 1px solid rgba(120, 120, 120, 0.6);
  }
.quote{
    text-align: center;
    font-weight: bold;
  }
span{
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    font-style: italic;
}